body{
   margin: 0;
  padding: 0;
  font-family: HelveticaNeue;

}
@font-face{
  font-family: HelveticaNeue;
  src: url(./../src/HelveticaNeue/fonts/HelveticaNeue.eot); /* IE9 Compat Modes */
  src: url("./fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/HelveticaNeue.otf") format("opentype"), /* Open Type Font */
  url("./fonts/HelveticaNeue.svg") format("svg"), /* Legacy iOS */
  url("./fonts/HelveticaNeue.ttf") format("truetype"), /* Safari, Android, iOS */
  url("./fonts/HelveticaNeue.woff") format("woff"), /* Modern Browsers */
  url("./fonts/HelveticaNeue.woff2") format("woff2"); /* Modern Browsers */
}
.header_component{
  background-color: #5d5095;
}
.color-white{
  color: white;
}
.color-purple{
  color: #5d5095;
}
.color-gray{
   color: #576770;
}

.color-blue{
  color: #0a5984;
}

.no-decoration{
  text-decoration:none;
}
.title_component{
  font-family: HelveticaNeue;
  font-size: 28px;
  margin-left: 80px;
  line-height: 5px;
  padding-top: 25px;
  padding-bottom: 16px;

}
.title_component h2{
  font-size: 24px;

}
.image_component{
  background-image: url(../images/background-fullsize.png);
  width: 1680px;
  height: 741px;
  float: right;
}

.text_component{
  font-family: HelveticaNeue;
  text-align: center;
  margin-top: 140px;
  width: 500px;
  margin-left: 100px;

}

.text_component h2{
  font-size: 48px;
  margin-top: 0px;
}
.text_component h3{
  margin-bottom: 0px;
}
.text_component h3{
    font-size: 44px;
  font-weight: 100;

}
.content-paragraph{
  font-size: 20px;
  margin-left: 100px;
  color: #576770;
  width: 490px;
  height: auto;
  float: left;
}
.paragraph{
  margin-top: 0px;
}

.content-paragraph-2{
  margin-top: 20px;

  float: left;
}
.content-principal-2{
  font-size: 18px;
  font-weight: 500;


}

.image_green{
  float: left;
}
.content-medium{
  float: left;
  width: 100%;
  height: auto;
}
.info_component{
  text-align: left;
  width: 750px;
  height: 522px;
  display: block;
  float: left;
  margin-top: 70px;
  margin-left: 80px;
  font-family: HelveticaNeue;
  font-size: 24px;
}
li{
  list-style-position: outside;
  float: left;
  padding-left: 20px;
  list-style-image: url(../images/bullet-circle.png);
}
li.p{
  float: left;
}

.services_component{
  float:left;
  text-align: center;
  width: 100%;
  margin-left: 300;
  font-size: 24px;

  color: #5d5095;
}
.wrapper-content{
  width: 80%;
  width: 1240px;
  margin: 0 auto;
  
}
.paragraph_services{
  
  font-weight: 500;
}
.services_component ul{
  line-height: 40px;
}
.services_component ul li{
  width: 300px;
  color: #005886;
  text-align: left;
  list-style: none;
  background: url(./../images/bullet-circle-3.png);
  background-repeat: no-repeat;
  background-position: top 3px left;
  padding-left: 40px;
  background-size: 20px 20px;
  box-sizing: border-box;
  margin-bottom: 18px;
  padding-right: 5px;
}



.services_content{
  display: table;
  width: 100%;
}
.services_content a{
  color: #0a5984;
  text-decoration: none;
}
.list_services li{
  list-style: none;
  padding-left: 100px;
  background:url(../images/bullet-circle-3.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top 3px;
}

.information{
  float: left;
  width: 100%;
}
.separation-div{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 3px;
  background-color: lightgrey;
  float: left;
}
.title-map{
  color: #5d5095;
  font-size: 38px;
  text-align: center;
  font-weight: bold;
}

.map_component{
  
}

@media only screen and (min-width:1680px){
  .info_component{
    float:left;
    
    
  }
}

@media only screen and (max-width:1550px){
  .info_component{

    
  }
}
