body{
   margin: 0;
  padding: 0;
  font-family: HelveticaNeue;

}
/*********************************************************************  @font-face for Helvetica's font Normal   */
@font-face{
    font-family: HelveticaNeue;
	
  src: url('../fonts/HelveticaNeue.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeue.eot') , /* IE6-IE8 */
       url('../fonts/HelveticaNeue.otf') , /* Open Type Font */
       url('../fonts/HelveticaNeue.svg') , /* Legacy iOS */
       url('../fonts/HelveticaNeue.ttf') , /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue.woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeue.woff2'); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;  
}

/*********************************************************************  @font-face for HelveticaNeue-Bold   */
@font-face{
    font-family: HelveticaNeue-Bold;
	
  src: url('../fonts/HelveticaNeue-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/HelveticaNeue-Bold.eot') , /* IE6-IE8 */
       url('../fonts/HelveticaNeue-Bold.otf') , /* Open Type Font */
       url('../fonts/HelveticaNeue-Bold.svg') , /* Legacy iOS */
       url('../fonts/HelveticaNeue-Bold.ttf') , /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue-Bold.woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeue-Bold.woff2'); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;  
}
/*********************************************************************  @font-face for HelveticaNeue-Medium   */
@font-face{
    font-family: HelveticaNeue-Medium;
	
  src: url('../fonts/HelveticaNeue-Medium.eot'); /* IE9 Compat Modes ?#iefix */
  src: url('../fonts/HelveticaNeue-Medium.eot') , /* IE6-IE8 */
       url('../fonts/HelveticaNeue-Medium.otf') , /* Open Type Font */
       url('../fonts/HelveticaNeue-Medium.svg') , /* Legacy iOS */
       url('../fonts/HelveticaNeue-Medium.ttf') , /* Safari, Android, iOS */
       url('../fonts/HelveticaNeue-Medium.woff'), /* Modern Browsers */
       url('../fonts/HelveticaNeue-Medium.woff2'); /* Modern Browsers */
  font-weight: 500;
  font-style: normal;  
}
/*********************************************************************  Style for Header component   */
.header_component{
  background-color: #5d5095;
  padding: 20px 100px 20px 100px;
}
.color-white{
  color: white;
}
.color-purple{
  color: #5d5095;
}
.color-gray{
   color: #576770;
}

.color-blue{
  color: #0a5984;
}

.no-decoration{
  text-decoration:none;
}
/********************************************************************* Principal Block  */
.principal_container{
  width: 100%;
  display: table;
}
.text_component_block{
  display: none;
}
/*********************************************************************  Style for Title component  */
.title_component{
  background: url("./../images/logo.png");
  width: 400px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: left;
  display: table;
  height: 100px;
}
.title_component h2{
  font-size: 24px;
}
/*********************************************************************  Firs Block  */
.principal_component{
  width: 100%;
  
  display: table;
}
/*********************************************************************  Style for Image component  */
.image_component{
  background-image: url(../images/background-fullsize.png);
  float: right;
  width: 100%;
  background-repeat: no-repeat;
  background-position:right; 
}
/*********************************************************************  Style for .text_component  */
.text_component{
  margin-top: 140px;
  width: 560px;
  margin-left: 20%;
  margin-bottom: 290px;
}

.text_component h2{
  font-size: 60px;
  margin-top: 0px;
  text-align: center;
  font-family: HelveticaNeue-Bold;
  word-spacing: -2px;
  letter-spacing: -1px;
}

.text_component h3{
  margin-bottom: 0px;
  font-size: 55px;
  font-family: HelveticaNeue;
  font-weight: 100;
  text-align: center;

}
.content-paragraph{
  font-size: 20px;
  color: #576770;
  height: auto;
}
.paragraph{
  line-height: 30px;
  margin-top: 0px;
}



/*********************************************************************  Second block  */
.content-medium{
  display: table;
  width: 100%;

}
.image_green_block{
  display: none;
}

.image_green{
  float: left;
  width: 35%;
  height: 100%;
}
.image_green img{
  width: 100%;
  margin: 0px;
}

/*********************************************************************  Style for .info_component  */


.info_component{
  float: right;
  padding: 30px 60px;
  margin: 0 auto;
  width         : 50%;
  text-align: justify;

}
.info_component h2{
  font-size: 40px;
  font-family   : HelveticaNeue;
  margin: 0 auto;
  text-align: center;
}

.content-paragraph-2{
  margin-top: 20px;
}
.content-principal-2{
  font-size: 18px;
  font-weight: 300;
}
li{
  list-style-position : outside;
  float               : left;
  padding-left        : 20px;
  list-style-image    : url(../images/bullet-circle.png);
}
li.p{
  float: left;
}
/*********************************************************************  Third Block  */
.services_component{
  display: table;
  margin: 0 auto;
  padding: 40px 50px 40px 50px;
  text-align: center;
  font-size     : 24px;
  color         : #5d5095;
  border-bottom : 5px;
}
.wrapper-content{

  
}
.paragraph_services{
  text-align: center;
  font-weight: 500;
}
.services_content{
  display: table;
  width: 100%;
  margin: 0 auto;

}
.services_component ul{
  margin: 50px 0px;
  line-height: 40px;
  width: 370px;
  float: left;
}
.first_list{
  width: 30.33%;
  display: table;
  float: left;
}
.second_list{
  width: 30.33%;
  display: table;
  float: left;
}
.third_list{
  width: 28.33%;
  display: table;
  float: left;
}

.third_list ul{
  width: 240px;
}
.second_list ul{
  width: 250px;
}
.second_list ul li{
  width: 250px;
}
.third_list ul li{
  width: 240px;
}
.first_list ul li{
  width: 371px;
}
.services_component ul li{

  color               : #005886;
  text-align          : left;
  list-style          : none;
  background          : url(./../images/bullet-circle-3.png);
  background-repeat   : no-repeat;
  background-position : top 3px left;
  padding-left        : 40px;
  line-height: 30px;
  background-size     : 20px 20px;
  box-sizing          : border-box;
  margin-bottom       : 18px;
  padding-right       : 5px;
}
.first_list a,.second_list a, .third_list a{
  color: #0a5984;
  text-decoration: none;
}

.information{
  margin: 0 auto;
  width: 100%;
  float: left;
}

.title-map{
  color: #5d5095;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.map_component{
  display          : table;
  width            : 100%;
  height           : auto;
  border-top-style : solid;
  border-top-color : lightgrey;
  border-top-width : 3px;
}
.map{
  width  : 100%;
  height : 500px;
}
.content-paragraph-block{
  width  : 100%;
  margin : 0 auto;
}
.paragraph-block{
  display: none;
}



@media only screen and (max-width:1679px){
  .info_component{
    
  }
  .image_component{
   
  }
  .text_component{
    margin-left: 10%;
    margin-top: 4%;
  }
}

@media only screen and (max-width:1550px){
  .info_component{
  }
  .image_green{
    width: 40%;
  }

}
@media only screen and (max-width:1450px){
  .text_component{
    margin-left: 5%;
  }
  .image_component{
  overflow:hidden;
  }
}

@media only screen and (max-width:1390px){
  .text_component{
    margin-left   : 4%;
    margin-top    : 4%;
    width         : 500px;
    margin-bottom : 300px;
  }
  .image_green img{
    width  : 500px;
    height : 447px;
  }
}
@media only screen and (max-width:1310px){
  .text_component{
    width         : 450px;
    margin-bottom : 200px;
  }

}
@media only screen and (max-width:1250px){
  .text_component{
    width         : 380px;
    margin-bottom : 100px;
  }
  .image_green , .image_green img{
    width:450px;
  }
  .text_component h2{
    margin-bottom: 20px;
  }

}
@media only screen and (max-width:1180px){
    .third_list ul{
      padding-left: 0px;
    }
    .third_list{
      width: 280px;
    }
    .first_list ul{
      padding-left: 0px;
    }
    .text_component{
      margin-left: 20px;
    }
}
@media only screen and (max-width:1150px){
  .text_component{
    width: 300px;
    margin-left: 10px;
  }
  .image_green{
    width:400px;
  }

}
/**************************************************   Media query for mobile dimensions    */
@media only screen and (max-width:1050px){
  .title_component{
    background: url("./../images/logo.png");
    width:650px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    display: table;
    height: 220px;
  }
  .header_component{
    padding-left: 30px;
  }
  .paragraph-block{
    display          : block;
    background-color : #5d5095;
    color            : white;
    padding          : 100px;
    font-size        : 50px;
    line-height      : 80px;
    margin           : 0 auto;
    font-weight: 100;
  }
  .content-paragraph-2{
    font-family: HelveticaNeue;
    font-size: 50px;
    font-weight: 100;
    text-align: justify;
    line-height: 90px;
  }
  .title_component h1{
    font-size   : 125px;
    font-family : HelveticaNeue;
    font-weight : 300;
  }
  .title_component h2{
    font-size     : 50px;
    font-weight   : 100;
    margin-bottom : 60px;
  }
  .info_component{
    float: none;
    display: table;
    width: 80%;
    padding: 40px 50px 40px 70px;
 
    

  }
  .info_component li{
    font-size: 50px;
    line-height: 90px;
    text-align: justify;
  }
  .info_component h2{
    font-size: 70px;
    
    font-family: HelveticaNeue-Bold;
  }
  .paragraph_services{
    margin-bottom: 100px;
  }
  .text_component_block{
    text-align    : center;
    width         : 990px;
    display       : table;
    margin-right  : 0px;
    margin-left   : 40px;
    padding-right : 0px;
  }
  .text_component_block h3{
    font-size     : 125px;
    font-weight   : 100;
    margin-bottom : 20px;
  }
  .text_component_block h2{
    font-size   : 120px;
    margin-top  : 0px;
    font-family : HelveticaNeue-Bold;
   
  }
  .image_component{
    background-image : url('../images/background-fullsize-mobile.png');
    width            : 100%;
    height           : 900px;
    background-size  : 100%;
  }
  .text_component{
    display: none;
  }
  .image_green img{
    display:none;
  }
  .image_green_block{
    display : block;
    width   : 100%;
    height  : 100%;
  }
  .image_green_block img{
    width: 100%;
  }
  .services_component{
    padding: 40px 70px 40px 90px;
  }
  .services_component ul li{
    background: url("./../images/bullet-circle-3-mobile.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding-left: 70px;
    background-position: top 15px left; 
  }
  
  .services_component p{
    font-size: 50px;
  }
  .services_component .services_content{
    display    : table;
    margin     : 0 auto;
    width      : 100%;
  
  }
  /*       SERVICES LIST      */
  .first_list{
    margin: 0 auto;
    width: 100%;
}
  .second_list{
    width: 100%;
}
  .third_list{
    width: 100%;
}

  .third_list ul{
    width: 240px;
}
  .second_list ul{
    width: 250px;
    padding-left: 0px;
}
  .second_list ul li{
    width: 250px;
}
  .third_list ul li{
    width: 240px;
}
  .first_list ul li{
    width: 371px;
}
  .services_content ul{
    margin: 0 auto;
    width: 100%;
  }
  .services_content ul li{
    line-height: 70px;
    width: 100%;
  }
  .first_list, .second_list, .third_list{
    text-align: center;
    display: table;
   

  }
  .first_list a,.second_list a, .third_list a{
    font-size: 50px;  
  }
  .information{
    margin: 0 auto;
  width: 100%;
  float: left;
  }
  .services_component h2{
    font-size: 70px;
    text-align: center;
    max-width: 650px;
    margin: 70px auto;
    float: none;
  }
  .map_component h2{
    background: 
    max-width: 700px;
    font-size: 70px;
    margin: 80px auto;
  }
  
}


